PORT=3001
GCP_PROJECT_ID=rentatulya6000
GCP_REGION=asia-south1
GCS_BUCKET_NAME=rentatulya6000-pothole-images
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
JWT_SECRET=super-secret-jwt-key-change-me
